# Ignore potentially sensitive credentials files #
conf/**/*credentials*

# Ignore everything in the following folders except their sub-folders #
data/**
logs/**
!data/**/
!logs/**/

# Ignore logs in root folder #
info.log

# Keep all .gitkeep files #
!.gitkeep

# Ignore mypy cache #
.mypy_cache/

# Ignore Poetry files #
.venv/
poetry.toml

# Ignore Python cache #
__pycache__/
